*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
  }
  .container1{
    /* width: 1920px; */
    height: 949px;
    background-image: url(./img/bg\ \(1\).svg);
margin: 0 auto;    
background-repeat: no-repeat;
background-size: cover;
transform: rotate(180deg);
transform: rotateY(-180deg);
position: relative;
z-index: 1;
}
.container{
    /* width: 1920px; */
height: 949px;
margin: 0 auto; 
}
.gradient{
    position:absolute;
    top: 0;
    left: 0;
    /* background: transparent; */
    backdrop-filter: blur(1px);;
    transform: rotate(180deg);
transform: rotateY(-180deg);
}
.block-big{
    z-index: 2;
    width: 1920px;
    height: 949px;
    transform: rotate(180deg);
transform: rotateY(-180deg);
}
.block-1{
    width: 100px;
    height: 80px;
  align-items: center;
    display: flex;
}
.locator{
    margin-left: 20px;
}
.details {
  padding-top: 10px;
padding-left: 20px;
  width: 136px;
  height: 40px;
  color: white;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background: transparent;
  backdrop-filter: blur (50px);
  border: 2px solid white;
}
.button-fon{
  background-color: #161723;
  margin-top: 10px;
  color: white;
  border: none;
}
.details button{
  border: none;
  background-color: #161723;
  color: white;
  width: 100px;
  height: 40px;
border-radius: 10px;
padding-top: 5px;
padding-left: 20px;
align-items: center;
}
.details button img{
  margin-left: -15px;
  margin-top: -20px;
  display: flex;
width: 30%;
}
.block-1 li {
    margin-top: 10px;
list-style: none;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 21.94px;
text-align: left;

}
.button-span{
    color: white;
    margin-left: 20px;
    width: 136px;
height: 40px;
border-radius: 30px;
background: transparent;
backdrop-filter: blur (50px);
border: 2px solid white;
}
.button-span:hover{
    background-color: #F4683F;
    cursor: pointer;
    transition: 2s;
    animation: bounce 0.3 ease infinite;
}
.button-span span {
  animation: bounce 0.6s ease infinite;
}
.button-span span:nth-child(2) {
animation-delay: 0.1s;
}
.button-span span:nth-child(3) {
animation-delay: 0.2s;
}
.block-1 button span:nth-child(4) {
animation-delay: 0.3s;
}
.block-1 button span:nth-child(5) {
animation-delay: 0.4s;
}
.block-1 button span:nth-child(6) {
animation-delay: 0.6s;
}
@keyframes bounce {
  0%, 100%{
transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
}
.block-2{
    margin-right: -400px;
    color: white;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 35px;
font-size: 18px;
font-weight: 560;
line-height: 21.94px;
text-align: left;

}
.block{
    width: 1800px;
    height: 80px;
    margin: 0 auto;
justify-content: space-between;
display: flex;
align-items: center;
z-index: 3;
}
.block::after{
  position: sticky;
  top: 0;
  right: 0;
}
.block nav {
    display: flex;
    color: white;
}
.block-inside{
    align-items: center;
    display: flex;
    gap: 20px;
}
.block-inside{
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
}
.block-inside ol{
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 19px;
font-weight: 600;
line-height: 24px;
text-align: center;
margin-left: -10px;
}
.input1{
    margin-left: 10px;
    background: transparent;
    backdrop-filter: blur(30px);
    font-size: 20px;
    color: white;
    height: 30px;
    width: 240px;
    border: none;
    outline: none;
}

[id='toggle-heart'] {
    position: absolute;
    left: -100vw;
  }
  [id='toggle-heart']:checked + label {
    color: #e2264d;
    -webkit-filter: none;
            filter: none;
    will-change: font-size;
    -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
            animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  }
  [id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
    -webkit-animation: inherit;
            animation: inherit;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  [id='toggle-heart']:checked + label:before {
    will-change: transform, border-width, border-color;
    -webkit-animation-name: bubble;
            animation-name: bubble;
  }
  [id='toggle-heart']:checked + label:after {
    will-change: opacity, box-shadow;
    -webkit-animation-name: sparkles;
            animation-name: sparkles;
  }
  [id='toggle-heart']:focus + label {
    text-shadow: 0 0 3px white,  0 1px 1px white, 0 -1px 1px white,  1px 0 1px white, -1px 0 1px white;
  }
  
  [for='toggle-heart'] {
    align-self: center;
    position: relative;
    color: #888;
    font-size: 2em;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  [for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
  }
  [for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -2.25rem;
    border: solid 2.25rem #e2264d;
    width: 4.5rem;
    height: 4.5rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  [for='toggle-heart']:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0.32476rem -3rem 0 -0.1875rem #ff8080, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
  }
  
  @-webkit-keyframes bubble {
    15% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 2.25rem;
    }
    30%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 0;
    }
  }
  @keyframes bubble {
    15% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 2.25rem;
    }
    30%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: #cc8ef5;
      border-width: 0;
    }
  }
  @-webkit-keyframes sparkles {
    0%, 20% {
      opacity: 0;
    }
    25% {
      opacity: 1;
      box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
    }
  }
  @keyframes sparkles {
    0%, 20% {
      opacity: 0;
    }
    25% {
      opacity: 1;
      box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
    }
  }
  .big-section{
    align-items: center;
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    transform: rotate(180deg);
    transform: rotateY(-180deg);
    margin-top: -800px;
margin-left: 360px;
  }
  .sectionn{
    width: 600px;
height: 168px;
margin-top: -370px;
color: white;
  }
  .sectionn h1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: 0.02em;

  }
  .tag-p{
    width: 400px;
    padding-top: 30px;
    font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
  }
  .trio{
    gap: 10px;
    margin-top: 30px;
    width: 300px;
    display: flex;
  }
  .trio img{
    width: 40%;
    transition: all 0.5s;
  }
  .trio img:hover{
    width: 60%;
    cursor: pointer;
    transform: scale(1.05);
  }
  .trio img:active{
    width: 80%;
    transform: scale(0.95) rotateZ(1.7deg); 
  }
  .zaibal{
    margin-left:40px;
  }
  .pp{
width: 100px;
    margin-top: 150px;
 margin-left: -100px;
 text-align: center;
  }
  .five-img{
    margin-left: -30px;
    margin-top: 150px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
  }
  .tipo-login{
    position: relative;
    width: 360px;
height: 497px;
background-color: white;
justify-content: center;
border-radius: 10px; border-radius: 10px;
  }
  .dad-label{
    margin-top: 50px;
    width: 280px;
    width: 70px;
    /* display:flex; */
  }
  .vyesd{
  width: 140px;
  height: 50px;
  margin-top: 11px;
margin-left: 46px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border: 1px solid #C0C2D7;
outline: none;
padding-left: 20px;
}
.otezd{
    position: relative;
    top: -50px;
    left: 184px;
    width: 140px;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #C0C2D7;
    outline: none;
    padding-left: 26px;
}
.ve{
    padding-left: 60px;
}
.ot{
    position: absolute;
    top: 0;
    right: 80px;
    margin-top: 52px;
}
.label-2{
   position: absolute;
   left: 50px;
   bottom: 310px;
}
#input-number{
    margin-top: 70px;
 margin-left: 44px;
    width: 278px;
height: 50px;
border-radius: 20px;
outline: none;
border: 1px solid #C0C2D7;
}
.range{
    margin-left: 44px;
    width: 276px;
height: 53px;
border-radius: 200px 0px 0px 0px;
margin-top: 50px;
}
.h1-text{
    margin-top: -20px;
    margin-left: -220px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: center;
}
.h1-text1{
    margin-top: -21px;
    margin-right: -200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: center;

}
.tipo-login button{
    margin-top: 30px;
    margin-left: 46px;
    width: 280px;
height: 50px;
border-radius: 20px;
background-color: #F4683F;
border: none;
}
.tipo-login button:hover{
background-color: rgb(164, 22, 22);
background-position-x: left;
transition: 2s;
cursor: pointer;
}
.container1-1{
  padding-top: 100px;
    width: 1900px;
    height: 1100px;
    background-image: url(./img/bg\ services.svg);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    margin: 0 auto;
}
.h1-1{
  padding-top: 100px;
  font-family: Raleway;
font-size: 40px;
font-weight: 900;
line-height: 60px;
margin-left: 250px;
}
.three-blocks{
    margin: 0 auto;
    width: 1400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.block-div{
    width: 440px;
height: 130px;
display: flex;
padding: 50px 45px;
margin-top: 70px;
border-radius: 12px;
gap: 20px;
align-items: center;
-webkit-box-shadow: -8px -2px 87px -18px rgba(13,11,13,0.63);
-moz-box-shadow: -8px -2px 87px -18px rgba(13,11,13,0.63);
box-shadow: -8px -2px 87px -18px rgba(13,11,13,0.63);
transition: all 0.5s; 
}
.block-div h1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
} 
.block-div:hover { 
    border: 1px solid black; 
    transform: scale(1.05); 
    cursor: pointer;
    border: none;
  } 
  .block-div:active { 
          transform: scale(0.95) rotateZ(1.7deg); 
  } 
.footer{
  width: 1920px;
  height: 360px;
background-color: #161723;  
margin: 0 auto;
}
.footer-init{
  display: flex;
  width: 1400px;
height: 200px;
margin: 0 auto;
padding-top: 130px;
justify-content: space-between;
}
.div-footer{
  width: 320px;
  height: 300px;
}
.div-footer p{
  color: #404256;
}
.tag-footer{
  padding-top: 100px;
  color: #404256;
  font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 19px;
text-align: left;
}
.div-footer1{
  width: 250px;
  height: 300px;
}
.div-footer1 h1{
  font-family: Raleway;
  font-size: 22px;
  font-weight: 800;
  line-height: 19px;
  text-align: left;
  color: white;
  padding-bottom: 10px;
}
.div-footer1 p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 29px;
text-align: left;
color: #C0C2D7;

}
.div-footer2{
  width: 200px;
  height: 300px;
}
.div-footer2 p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 29px;
text-align: left;
color: #C0C2D7;
}
.div-footer3{
  width: 300px;
  height: 300px;
}
.div-footer3 ol{
  display: flex;
  gap: 5px;
  outline: none;
  list-style: none;
  color: #C0C2D7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
margin-left: 150px;
}
.div-footer3-img{
  align-items: center;
  margin-top: 140px;
  margin-left: 106px;
}
.div-footer3-img img{
gap: 190px;
padding-left: 10px;
}
.container{
width: 1920px;
height: 900px;
margin: 0 auto;
position: relative;
}
/* 2 section*/
.renar{
    width: 1440px;
    height: 500px;
    margin: 0  auto;
    justify-content: space-between;
}
.dunor{
position: absolute;
top: 0;
right: 0;
}
.kher{
margin-top: 290px;
margin-left: 23px;
position: absolute;
top: 0;
}
.clen{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
}
.vrenbas{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 400px;
}
/* 1 */
.card {
    width: 331px;
    height: 164px;
    background: rgba(255, 255, 255, 1)
    border  1px solid white;
    border-radius: 17px;
    transition: all 0.5s;
  }
  .card:hover {
      border: 1px solid black;
      transform: scale(1.05);
    }
    .card:active {
        transform: scale(1) rotateZ(1.7deg);
    }
    .imer{
      margin-top: 33px;
      text-align: center;
    }
    .tener{
      z-index: 3;
        margin-top: 24px;
        margin-left: 22px;
    }
/*2*/
.car {
    width: 331px;
    height: 164px;
    background:rgba(255, 255, 255, 1)
    border 1px solid white;
    border-radius: 17px;
    transition: all 0.5s;
  }
  .car:hover {
      border: 1px solid black;
      transform: scale(1.05);
    }
    .car:active {
        transform: scale(0.95) rotateZ(1.7deg);
    }
    .ime{
      margin-top: 33px;
      text-align: center;
    }
    .tene{
        margin-top: 24px;
        margin-left: 22px;
    }
/* 3 */
.cards {
    width: 331px;
    height: 164px;
    background: rgba(255, 255, 255, 1)
    border 1px solid white;
    border-radius: 17px;
    transition: all 0.5s;
  }
  .cards:hover {
      border: 1px solid black;
      transform: scale(1.05);
    }
    .cards:active {
        transform: scale(0.95) rotateZ(1.7deg);
    }
    .imers{
      margin-top: 33px;
      text-align: center;
    }
    .teners{
        margin-top: 24px;
        margin-left: 22px;
    }
/* 4 */
.cardf {
    width: 331px;
    height: 164px;
    background:rgba(255, 255, 255, 1)
    border 1px solid white;
    border-radius: 17px;
    transition: all 0.5s;
  }
  .cardf:hover {
      border: 1px solid black;
      transform: scale(1.05);
    }
    .cardf:active {
        transform: scale(0.95) rotateZ(1.7deg);
    }
    .imerf{
      margin-top: 33px;
      text-align: center;
    }
    .tenerf{
        margin-top: 24px;
        margin-left: 22px;
    }
    /* 3 section */
    .nber{
     position: relative;
     top: -330px;
        width: 1920px;
        height: 1150px;
        margin: auto;
        z-index: 10;
    }
    .trent{
      width: 468px;
      height: 60px;
      margin-top: 216px;
      margin-left: 231px;
      z-index: -2;
    }
    .btnf{
      font-family: Raleway;
      font-size: 40px;
      font-weight: 800;
      line-height: 60px;
    }
    .daier{
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }
    .cardfe {
        width: 440px;
        height: 600px;
        background:rgba(255, 255, 255, 1)
        border 1px solid white;
        border-radius: 17px;
        transition: all 0.5s;
      }
      .tenerfe{
        position: relative;
      }
      .ulenoli{
        position: absolute;
        z-index: 4;
        margin-top: 24px;
        margin-left: 322px;
      }

      .dfghjk{
        margin-top: -94px;
        margin-left: 339px;
        z-index: 8;
      }
       .cardfe:hover {
          border: 1px solid black;
          transform: scale(1.05);
        }
        .cardfe:active {
            transform: scale(0.95) rotateZ(1.7deg);
        }
        .mderwq{
         width: 187px;
         height: 36px;
         
        }
        .imerfe{
        font-family: Raleway;
        font-size: 20px;
        font-weight: 800;
        line-height: 36px;
        text-align: left;

        margin-top: 33px;
        text-align: center;
    }
    .kloner{
        margin-top: 54px;
        margin-left: 20px;
        line-height: 30px;
        
    }
    .dinb{
        display: flex;
        gap: 10px;
        row-gap: 30px;
    }
    .renberf{
        display: flex;
        gap: 10px;
    }
    .furul{
        display: flex;
        gap: 10px;
    }
    .rherer{
        display: flex;
        gap: 10px;
    }
    .clasict{
        display: flex;
        margin-bottom: 70px;
    }
    .renetti{
        width: 216px;
        height: 33px;
    }
    .fladettr{
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 900;
        line-height: 33px;
        margin-left: 20px;
    }
    .gitent{
        width: 98px;
        height: 24px;
        margin-left: auto;
    }
    .floren{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: rgba(244, 104, 63, 1); 
        border: none;   
        background-color: rgba(255, 255, 255, 1);
    }
     /* экинчи катар  */
    .hyului{
        display: flex;
        gap: 30px;
        position: relative;
        margin-top: 50px;
    }
      .daierui{
          display: flex;
          position: absolute;
          gap: 30px;
      }
  
      .cardfeui {
          width: 440px;
          height: 600px;
          background:rgba(255, 255, 255, 1)
          border 1px solid white;
          border-radius: 17px;
          transition: all 0.5s;
        }
        .cardfeui:hover {
            border: 1px solid black;
            transform: scale(1.05);
          }
          .cardfeui:active {
              transform: scale(0.95) rotateZ(1.7deg);
          }
          .mderwqui{
           width: 187px;
           height: 36px;
           
          }
          .imerfeui{
          font-family: Raleway;
          font-size: 20px;
          font-weight: 800;
          line-height: 36px;
          text-align: left;
          margin-top: 33px;
          text-align: center;
          line-height: 30px;
      }
      .klonerui{
          margin-top: 54px;
          margin-left: 20px;
          line-height: 30px;
          
      }
      .dinbui{
          display: flex;
          gap: 10px;
      }
      .renberfui{
          display: flex;
          gap: 10px;
      }
      .furului{
          display: flex;
          gap: 10px;
      }
      .rhererui{
          display: flex;
          gap: 10px;
      }
      .clasictui{
          display: flex;
          margin-bottom: 70px;
      }
      .renettiui{
          width: 216px;
          height: 33px;
      }
      .fladettrui{
          font-family: "Raleway";
          font-size: 22px;
          font-weight: 900;
          line-height: 33px;
          margin-left: 20px;
      }
      .gitentui{
          width: 98px;
          height: 24px;
          margin-left: auto;
      }
      .florenui{
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          color: rgba(244, 104, 63, 1); 
          border: none;   
          background-color: rgba(255, 255, 255, 1);
      }
      .dfrtu{
        width: 280px;
        height: 60px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        color:rgba(255, 255, 255, 1);
         background-color:rgba(244, 104, 63, 1);
         margin-left: 518px;
         border-radius: 30px;
         margin-top: 50px;
         border: none;
         transition: all 0.5s; 
         z-index: 9;
      }
      .dfrtu:hover { 
        border: 1px solid black; 
        transform: scale(1.05);
        cursor: pointer; 
        border: none;
      } 
      .dfrtu:active { 
          transform: scale(0.95) rotateZ(1.7deg); 
      } 
      /* 5 section */
       .dkingeuio{
    
           width: 1920px;
           height: 700px;
           margin: auto;
           line-height: 30px;
       }
       .bvert{
        margin-left: 234px;
        
       }
       .vkinhr{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 40px;
font-weight: 800;
line-height: 60px;
text-align: left;

       }

        /* 6 section */
        .nmjer{
            width: 1920px;
            height: 700px;
            margin: auto;  
        }
        .mrtulj{
            position: relative;
        }
        .zxert{
          position: relative;
          top: -540px;
          left: 380px;
            width: 373px;
            height: 60px;        
        }
        .zxert h1{
          padding-top: 20px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 28.8px;
text-align: left;
color: white;
width: 270px;
        }
        .zxert button{
          width: 260px;
height: 50px;
border-radius: 20px;
margin-top: 50px;
          font-size: 18px;
          color: white;
          background-color: #F4683F;
          border: none;
           transition: all 0.5s; 
      } 
      .zxert button:hover { 
          cursor: pointer;
          transform: scale(1.05); 
        } 
        .zxert button:active { 
          transform: scale(0.95) rotateZ(2.7deg); 
        }
        .xsder{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 40px;
            font-weight: 800;
            line-height: 60px;
            text-align: left;
            color: white;
           
        }
        .button-click{
          width: 282px;
          height: 60px;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          color:rgba(255, 255, 255, 1);
           background-color:rgba(244, 104, 63, 1);
           margin-left: 812px;
           border-radius: 30px;
           margin-top: 150px;
           border: none;
           transition: all 0.5s; 
        }
        .button-click:hover {  
          transform: scale(1.05); 
          cursor: pointer;
        } 
        .button-click:active { 
            transform: scale(0.95) rotateZ(1.7deg); 
        }